<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Perguntas Frequentes</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-card *ngFor="let q of questions" style="margin-bottom: 15px">
        <ion-card-header color="light" (click)="open(q.index)" style="padding: 0px">
            <ion-item lines="none" style="--background: transparent">
                <ion-label style="white-space: normal; font-weight: bold">
                    <small>
                        {{q.title}}
                    </small>
                </ion-label>
                <ion-icon name="ios-arrow-forward" *ngIf="opened !== q.index" slot="end"></ion-icon>
                <ion-icon name="ios-arrow-down" *ngIf="opened === q.index" slot="end"></ion-icon>
            </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="opened === q.index" style="padding: 15px" [innerHTML]="sanitize(q.content)">
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="full" (click)="abrirManual()">Manual</ion-button>
    </ion-toolbar>
</ion-footer>