<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start" class="ion-text-uppercase">{{campaing.title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close" style="margin: 5px;"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list *ngIf="campaing.quiz.type === 'form'">
        <ng-container *ngFor="let item of quiz;">
            <ion-item-divider class="ion-no-padding" color="light" [class.error]="error[item.name] !== undefined">
                <ion-label style="white-space: normal;">
                    <h5 class="ion-padding-start">
                        {{item.label}}
                        <br><small style="font-weight: bold;" *ngIf="item.note!==''">* {{item.note}}</small>
                    </h5>

                </ion-label>
            </ion-item-divider>

            <ion-item class="ion-no-padding" style="border: none;" *ngIf="item.type==='text'"
                [class.ion-invalid]="data[item.valide]">
                <ion-input style="margin-left: 8px;" class="ion-text-uppercase" (keyup)="onKeyup(item)"
                    [(ngModel)]="data[item.name]"></ion-input>
            </ion-item>
            <ion-item *ngIf="item.type==='number'" [class.ion-invalid]="data[item.valide]">
                <ion-range min="1" max="99" pin="true" [(ngModel)]="data[item.name]"></ion-range>
                <ion-note slot="end" style="margin-left: 0px; font-size: 18px; margin-top: 20px">
                    {{data[item.name]}}
                </ion-note>
            </ion-item>
            <ion-item class="ion-no-padding" *ngIf="item.type==='radio'" class="ion-no-padding">
                <ion-col size="12" class="ion-no-padding">
                    <ion-list>
                        <ion-radio-group (ionChange)="getRadioValue(item.name, $event)" name="{{item.name}}">
                            <ion-item *ngFor="let opt of item.data;">
                                <ion-label>{{opt.label}}</ion-label>
                                <ion-radio color="primary" name="{{opt.name}}" [checked]="checkedRadio(opt, item.name)"
                                    value="{{opt.value}}"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>
                </ion-col>
            </ion-item>
            <ion-item *ngIf="item.type==='checkbox'" class="ion-no-padding">
                <ion-col size="12" class="ion-no-padding">
                    <ion-list>
                        <ion-item *ngFor="let chk of item.data;">
                            <ion-label>{{chk.label}}</ion-label>
                            <ion-checkbox color="primary" name="{{item.name}}" value="{{chk.value}}"
                                [checked]="checkedCheck(chk, item.name)"
                                (ionChange)="getCheckboxValue(item, chk, $event)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-item>
        </ng-container>
    </ion-list>

</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="block" (click)="save()">SALVAR</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>