ion-content {
  ion-input {
    border: silver solid 1px !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
    border-radius: .58em !important;
    padding: 2px 10px !important
  }

  ion-item {}


}

.error {
  background: #ffcdd2;

  * {

    color: #b71c1c;
    font-weight: bold;
  }
}

.invalide {
  background-color: indianred !important;
}


.swiper-pagination-bullet {
  background: black !important;
}

ion-list {
  margin-bottom: 0px !important;

  .item-label:last-child {
    border-bottom: none !important;
  }

}