<ion-content color="primary">
    <ion-grid class="ion-margin-top">
        <ion-row class="ion-text-center">
            <img [src]="campaing.logo" style="width: 200px; height: 200px;"/>
        </ion-row>
        <ion-row class="ion-padding-start ion-padding-end">
            <ion-col size="12" *ngIf="recover" class="ion-text-center">
                <ion-label>Digite seu endereço de e-mail abaixo e lhe enviaremos instruções para você redefinir sua senha.
                </ion-label>
            </ion-col>
            <ion-col size="12">
                <ion-label>E-mail</ion-label>
                <ion-input [(ngModel)]="data.email" [disabled]="sending"></ion-input>
            </ion-col>
            <ion-col size="12" *ngIf="!recover">
                <ion-label>Senha</ion-label>
                <ion-input [(ngModel)]="data.password" [disabled]="sending" type="password"></ion-input>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="12">
                        <ion-button color="secondary" (click)="login()" [disabled]="sending" fill="outline"
                                    expand="block">{{textButton()}}</ion-button>
                    </ion-col>
                    <ion-col size="12" class="links">
                        <ion-label (click)="reset_password()" *ngIf="!recover">
                            ESQUECEU SUA SENHA?
                        </ion-label>
                        <ion-label (click)="goto_register()" *ngIf="!recover">
                            QUERO ME CADASTRAR
                        </ion-label>
                        <ion-label (click)="goto_login()" *ngIf="recover">
                            ENTRE COM SEU E-MAIL
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
