ion-content {
  img {
    margin-left: auto;
    margin-right: auto;
  }

  ion-icon {
    padding: 10px;
    font-size: 2em;
    position: absolute;
  }

  ion-input {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: white;
    margin: 5px;
    border-radius: .55em;
  }
}

.links {
  ion-label {
    float: left;
    font-size: 12px;
    display: block;
  }

  ion-label{
    font-size: 10px;
  }

  ion-label:first-child {
    float: left;
  }

  ion-label:last-child {
    float: right;

  }
}

