ion-header {
  ion-toolbar {
    ion-title {
      font-weight: normal !important;
      font-size: 15px !important;
      margin: 0px !important;
      padding: 0px !important;
    }

    ion-label {
      font-size: 12px;
      margin: 0px !important;
      padding: 0px !important;
    }
  }

}