<ion-header>
    <ion-toolbar color="primary" class="profile ion-no-margin ion-text-center" style="--padding-top: 30px">
        <ion-avatar style="margin: 0 auto">
            <img [src]="user.photo || '../../assets/default.png'" />
        </ion-avatar>
        <ion-text class="ion-text-center ion-padding-top">{{user.name}}</ion-text>
        <br />
        <ion-label>{{user.email}}</ion-label>
        <ion-menu-toggle>
            <ion-button size="small" expand="block" (click)="openModal()">Meus Dados</ion-button>
        </ion-menu-toggle>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>

    <ion-card>
        <ion-card-header>
            <section class="ion-padding" *ngIf="current.logo !== ''">
                <img [src]="current.logo" class="ion-margin-bottom" />
            </section>
            <ng-container *ngIf="current.logo === ''">
                <ion-card-subtitle>POSTO ATUAL</ion-card-subtitle>
                <ion-card-title class="ion-text-uppercase">{{current.name}}</ion-card-title>
            </ng-container>
        </ion-card-header>
    </ion-card>


    <ion-list>
        <ion-list-header color="primary">
            <ion-label>POSTOS DE ATENDIMENTO</ion-label>
        </ion-list-header>
        <ion-item style="--background: rgba(220,237,200,1)" (click)="addService()" lines="full">
            <ion-icon slot="start" name="add" style="margin-right: 0px"></ion-icon>
            <ion-label style="font-size: 12px">ATRIBUIR POSTO DE ATENDIMENTO</ion-label>
        </ion-item>
        <ion-menu-toggle>
            <ion-item *ngFor="let ser of services;" lines="full" (click)="change(ser)">
                <ion-label>{{ser.name}}</ion-label>
                <ion-radio slot="end" color="primary" [checked]="ser.current"></ion-radio>
            </ion-item>
        </ion-menu-toggle>
    </ion-list>

</ion-content>
