<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="ios-paper"></ion-icon>
      <ion-label>Diagnósticos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Postos de Atendimento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="ios-contact"></ion-icon>
      <ion-label>Meu Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
