.loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 999;
  transition: all 1s;

  h4 {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -45px;
    text-align: center;
    width: 151px;
    font-size: 18px;

    span {
      display: block;
    }

    ion-icon {
      font-size: 40px;
    }
  }
}

.loaded {
  opacity: 0;
}
