<ion-app>
  <div class="loader" #loader>
    <h4>
      <ion-icon src="assets/loader.svg"></ion-icon>
      <span [innerHTML]="status"></span>
    </h4>
  </div>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
