@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css";

h5 {
  padding: 0px;
  margin: 0px;
}

ion-toolbar {
  --background: var(--campaing-background);
}

ion-content {
  --background: #ededed;
  --padding-bottom: 50px;
  ion-card {
    margin: 1em !important;

    transition: all .5s ease-out;
    --background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    position: relative;

    ion-badge {
      margin-right: 5px;
      border-radius: .5em;
      font-weight: normal;
      padding: 8px;
      font-size: 10px;
      width: 100% !important;
      max-width: 100%;
    }

    ion-card-content {
      padding: 5px !important;

      .timer {
        display: block;
        text-align: right;
      }

      ion-label {
        display: flow-root;
      }

      ion-title {
        font-size: 25px;
        font-weight: bolder;
        display: flow-root;
      }

      ion-buttons {
        display: flow-root;
        right: 2%;
        margin-top: -10px;
      }
    }

    h2 {
      font-weight: bolder;
      font-size: 25px;
    }
  }

  .buttons {
    padding-bottom: 15px;
    padding-left: 15px;
  }

}

ion-card-title {
  font-size: 28px !important;
  font-weight: 700 !important;
}

ion-header {
  ion-toolbar {
    color: white;
    --background: #0f7b6c url('../../assets/bg-menu.jpg') no-repeat fixed center !important;

    ion-avatar {
      border: white solid 2px;
    }

    strong, small {
      display: block;
    }
  }
}

.initial {
  background-color: #0f7b6c;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  color: white;
}

.deleted {
  box-shadow: .5px 0px 5px rgba(205, 92, 92, 0.62) !important;
  color: indianred !important;
  opacity: .5;

  ion-button {
    --background: indianred !important;
    ion-icon.sync {
      color: indianred !important;
    }
  }

  ion-badge {
    color: white;
    --ion-color-medium: indianred !important;
    --ion-color-light: indianred !important;
  }
}
