<ion-header>
    <ion-toolbar color="primary">
        <ion-title style="white-space: normal;">
            <b>DIAGNÓSTICOS</b>
            <br><small style="white-space: normal;">{{current.name}}</small>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goToFaq()">
                <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ng-container *ngIf="diagnosticos.length > 0">

        <ion-item lines="full">
            <ion-label style="text-align: center">
                <span style="white-space: normal; text-align: center">
                    <b>
                        Está com dificuldades em sincronizar automaticamente seus diagnósticos?
                    </b>
                </span>
            </ion-label>
        </ion-item>
        <ion-button expand="block" (click)="reportErrorSync()">
            <ion-icon name="sync"></ion-icon> CLIQUE AQUI PARA SINCRONIZAR
        </ion-button>
    </ng-container>

    <ion-grid *ngIf="diagnosticos_por_posto.length === 0">
        <ion-row class="ion-no-padding">
            <ion-col size="12" class="ion-padding ion-text-center">
                <div>OLÁ <strong class="ion-text-uppercase">{{user?.name}}</strong>,
                    SEJA BEM VINDO VOCÊ NÃO POSSUI DIAGNÓSTICOS CADASTRADOS NESSE POSTO DE ATENDIMENTO.</div>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <img [src]="'../../assets/empty.png'" width="250" height="250" class="empty">
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card *ngFor="let quiz of  diagnosticos_por_posto;">
        <ion-card-content [class.deleted]="quiz.deleted_at !== null">
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <ion-badge style="font-size: 8px" color="light" *ngIf="quiz.sexo !== null">
                            <ion-icon class="sexo" [class.male]="quiz.sexo == 1" [class.female]="quiz.sexo == 2"
                                name="{{quiz.sexo === 1 ? 'male' : 'female'}}">
                            </ion-icon>
                            <span class="sexo" [class.male]="quiz.sexo == 1" [class.female]="quiz.sexo == 2">
                                {{quiz.sexo === 1 ? 'MASCULINO' : 'FEMININO'}}
                            </span>
                        </ion-badge>
                        <ion-badge color="medium">{{quiz.idade}} ANOS</ion-badge>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-padding-start">
                        <small class="timer">{{quiz.created_at | date: 'dd/MM/yyyy hh:mm'}}</small>
                        <h2 class="ion-no-padding ion-text-uppercase">{{quiz.identificacao}} </h2>
                        <div class="ion-text-right">
                            <ion-button size="small" [disabled]="quiz.deleted_at !== null" (click)="editQuiz(quiz)"
                                *ngIf="showHideButton(quiz)">
                                <ion-icon name="create"></ion-icon>
                            </ion-button>
                            <ion-button size="small" [disabled]="quiz.deleted_at !== null"
                                (click)="deleteQuiz(quiz, $event)" *ngIf="showHideButton(quiz)">
                                <ion-icon name="trash"></ion-icon>
                            </ion-button>
                            <ion-button size="small" color="info" fill="clear" class="ion-no-padding"
                                style="margin-left: 10px;">
                                <ion-icon class="sync"
                                    [src]="quiz.synced_at === null ? 'assets/check.svg' : 'assets/check-double.svg'">
                                </ion-icon>
                            </ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="openQuiz()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>