ion-content {
  --background: var(--campaing-background);

  img {
    margin-left: auto;
    margin-right: auto;
  }

  ion-button {
    height: auto !important;

    h4 {
      padding: 0px;
      margin: 0px;
      font-size: 1.1em !important;
    }

    ion-icon {
      font-size: 2.5em;
      margin-right: 5px;
    }

    ion-text {
      padding: 20px;
    }
  }
}
