<ion-header>
    <ion-toolbar color="primary">
        <ion-title>POSTOS DE ATENDIMENTO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="light">

    <p>
        Selecione abaixo o posto de atendimento onde está alocado no momento.
    </p>
    <ion-list>
        <ion-item *ngIf="services.length <= 0">
            <ion-label style="white-space: normal;">
                <small>Carregando os postos de atendimento</small>
            </ion-label>
        </ion-item>
        <ion-item *ngFor="let p of services" lines="full">
            <ion-label style="white-space: normal;">
                <small>{{p.name}}</small>
            </ion-label>
            <ion-radio (ionSelect)="change(p)" slot="start" [checked]="p.id == current"></ion-radio>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="addService()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>