<ion-header>
    <ion-toolbar color="primary">
        <ion-title>MEU PERFIL</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row class="ion-margin-top">
            <ion-col size="12" class="ion-text-center">
                <ion-icon name="star" class="start" *ngIf="user.admin" size="large" color="primary"></ion-icon>
                <ion-icon name="camera" color="primary" class="camera" (click)="foto()" *ngIf="editing"></ion-icon>
                <img [src]="user.photo || '../../assets/no-avatar.jpg'"
                    (error)="user.photo = '../../assets/no-avatar.jpg'" width="120" height="120" />
            </ion-col>
        </ion-row>

        <ion-row class="ion-padding-bottom ion-padding-start ion-padding-end" *ngIf="!editing">
            <ion-col size="12" class="ion-text-center">
                <h2 class="ion-padding-bottom">{{user.name}}</h2>
                <ion-text>{{user.email}}</ion-text>
                <br />
                <ion-text>{{user.phone | mask: '(00) 0000.0000'}}</ion-text>
                <h1>CRM:
                    <ion-text color="primary">{{user.crm}}</ion-text>
                </h1>
                <ion-button color="primary" fill="outline" expand="block" (click)="edit()">EDITAR PERFIL
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="ion-padding-start ion-padding-end" *ngIf="!editing">
            <ion-col size="6" class="ion-text-center">
                <ion-card class="ion-padding" color="primary">
                    <small>TOTAL DE</small>
                    <ion-card-title>
                        POSTOS
                        <h2 class="ion-no-padding ion-no-margin">{{total_postos}}</h2>
                    </ion-card-title>
                </ion-card>
            </ion-col>

            <ion-col size="6" class="ion-text-center">
                <ion-card class="ion-padding" color="primary">
                    <small>TOTAL DE</small>
                    <ion-card-title>
                        DIAGNÓSTICOS
                        <h2 class="ion-no-padding ion-no-margin">{{total_diagnosticos}}</h2>
                    </ion-card-title>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row class="ion-padding-end ion-padding-start" *ngIf="editing">
            <ion-col size="12">
                <ion-label><strong>*</strong>Nome</ion-label>
                <ion-input [disabled]="disabled" [(ngModel)]="user.name"></ion-input>
            </ion-col>
            <ion-col size="4">
                <ion-label><strong>*</strong>CRM</ion-label>
                <ion-input [disabled]="disabled" [readonly]="true" [(ngModel)]="user.crm" placeholder="0000">
                </ion-input>
            </ion-col>
            <ion-col size="8">
                <ion-label>Telefone</ion-label>
                <ion-input [disabled]="disabled" [(ngModel)]="user.phone" placeholder="(00) 0 0000.0000"
                    mask="(00) 0 0000.0000" [dropSpecialCharacters]="true"></ion-input>
            </ion-col>
            <ion-col size="8">
                <ion-label>(*)E-mail</ion-label>
                <ion-input [disabled]="disabled" [(ngModel)]="user.email"></ion-input>
            </ion-col>
            <ion-col size="4">
                <ion-label><strong>*</strong>Senha</ion-label>
                <ion-input [disabled]="disabled" type="password" [(ngModel)]="user.password"></ion-input>
            </ion-col>
            <ion-col size="12">
                <ion-button [disabled]="disabled" color="primary" (click)="save()" expand="block">SALVAR
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>