img {
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

ion-card {
  margin: 0px !important;
}

ion-card-title {
  font-size: 12px !important;
}

ion-icon.start {
  position: absolute;
  transform: scale(1.2);
  margin: 78px -4px;
}

ion-input {
  --background: #e7e7e7 !important;
  border-radius: .58em !important;
  padding: 3px 10px !important;
  margin-top: 10px !important;
}

.active {
  position: absolute;
  top: 10px;
  left: 180px;
}

ion-icon.camera {
  position: absolute;
  transform: scale(1.5);
  margin: 91px 96px;
  background-color: white;
  padding: 4px;
  border-radius: 100%;
}

h2 {
  margin: 0px !important;
  paddind: 0px !important;
}
