<ion-content color="primary">
    <ion-grid class="ion-margin-top">
        <ion-row class="ion-text-center">
            <img [src]="campaing?.logo || '../../assets/loader.png'" style="width: 200px; height: 200px" />
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col size="12">
                <ion-button expand="block" color="secondary" fill="outline" (click)="register()">
                    <ion-text>
                        <h4 class="ion-no-padding ion-no-margin">É MEU PRIMEIRO ACESSO!</h4>
                        <small class="ion-no-padding ion-no-margin">Desejo me cadastrar.</small>
                    </ion-text>
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" color="secondary" fill="outline" (click)="login()">
                    <ion-text>
                        <h4 class="ion-no-padding ion-no-margin">JÁ ME CADASTREI!</h4>
                        <small class="ion-no-padding ion-no-margin">Fazer meu login.</small>
                    </ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
