ion-content.bg-code {
  --background: white url('../../assets/bg_header_register.png') no-repeat top center / 100% !important;
}

ion-content.bg-register {
  --background: white url('../../assets/medico.jpg') no-repeat top right / 60% !important;
}

ion-content {

  ion-grid {
    transition: all .8s;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  img.logo_default {
    margin-left: 10px;
    margin-right: auto;
    margin-top: -33px;
    margin-bottom: -14px;
    width: 50%;
  }

  img.logo_servico {
    margin-left: 0px;
    margin-right: auto;
    margin-top: -40px;
    margin-bottom: 0px;
    width: 50%;
  }

  ion-grid .code {
    margin-top: 30px;
  }

  .code {
    font-size: 2em;
  }

  ion-input {
    border-radius: .40em;
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: white;
    margin: 5px;
    background-color: #ececec;
    border: var(--theme-primary) solid thin;
  }

  h4 {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: bolder;
  }

  .info {
    font-size: 15px;
  }

  .content-register {
  }

  .content-register {
  }
}

.links {
  ion-label {
    float: left;
    font-size: 12px;
    display: block;
  }

  ion-label:first-child {
    float: left;
  }

  ion-label:last-child {
    float: right;

  }
}

