<ion-content [class.bg-code]="!valide" [class.bg-register]="valide">
    <ion-grid>
        <ng-container *ngIf="!hasHospital">
            <ion-row class="ion-text-center ion-padding-top">
                <img [src]="showLogo()" style="width: 200px; height: 200px;"/>
            </ion-row>

            <ion-row class="ion-padding-start ion-padding-end">
                <ion-col size="12" class="ion-text-center">
                    <ion-label>Informe abaixo o <b>CÓDIGO DO POSTO DE ATENDIMENTO</b> para efetuar o seu cadastro.
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-input style="text-transform: uppercase"
                               [(ngModel)]="code" class="ion-text-center"></ion-input>
                </ion-col>
                <ion-col size="12">
                    <ion-button expand="block" (click)="getCode()" [disabled]="saving_code" color="primary">
                        {{saving_code ? 'AGUARDE...' : 'AVANÇAR'}}
                    </ion-button>
                </ion-col>
                <ion-col size="12" class="links">
                    <ion-label (click)="goto_login()">JÁ SOU CADASTRADO
                    </ion-label>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="hasHospital">
            <ion-row class="ion-text-center ion-padding ion-margin-top">
                <img [src]="showLogo()" class="logo_servico ion-padding-top"/>
            </ion-row>
            <ion-row class="ion-padding-start ion-padding-end ion-margin-bottom">
                <ion-col size="12" class="ion-padding-start ion-padding-end  ion-margin-bottom">
                    <h4 class="ion-text-uppercase">
                        {{hospital.name}}</h4>
                    <small style="width: 50%; display: block; margin-top: 3px;">{{hospital.place}} {{hospital.city}} /
                        {{hospital.state}}</small>
                </ion-col>
                <ion-col size="12">
                    <ion-label><strong>*</strong>Nome</ion-label>
                    <ion-input [(ngModel)]="data.name"></ion-input>
                </ion-col>
                <ion-col size="4">
                    <ion-label><strong>*</strong>CRM</ion-label>
                    <ion-input [(ngModel)]="data.crm" placeholder="0000"></ion-input>
                </ion-col>
                <ion-col size="8">
                    <ion-label>Telefone</ion-label>
                    <ion-input [(ngModel)]="data.phone" mask="(00) 0 0000.0000" placeholder="(00) 0 0000.0000" [dropSpecialCharacters]="false">
                    </ion-input>
                </ion-col>
                <ion-col size="8">
                    <ion-label><strong>*</strong>E-mail</ion-label>
                    <ion-input [(ngModel)]="data.email"></ion-input>
                </ion-col>
                <ion-col size="4">
                    <ion-label><strong>*</strong>Senha</ion-label>
                    <ion-input type="password" [(ngModel)]="data.password"></ion-input>
                </ion-col>
                <ion-col size="12">
                    <ion-button color="primary" (click)="save()" [disabled]="saving"
                                expand="block">{{saving ? 'AGUARDE...' : 'CADASTRAR'}}</ion-button>
                </ion-col>
                <ion-col size="12" class="links">
                    <ion-label (click)="goto_login()">JÁ SOU CADASTRADO
                    </ion-label>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>

</ion-content>
